*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(-20deg, #3f2b96a9 0%, #a8c1ffa2 100%);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section > h1 {
  font-size: 3.5rem;
  margin-left: -50px;
  color: #0e3970;
}

.container {
  width: 800px;
  height: 552px;
  margin-left: -50px;
  display: -ms-grid;
  display: grid;
  /* -ms-grid-rows: (1fr)[3]; */
      grid-template-rows: repeat(3, 1fr);
  /* -ms-grid-columns: (1fr)[4]; */
      grid-template-columns: repeat(4, 1fr);
  gap: 3px 3px;
}

.boxes {
  background-position: center center;
  background-image: url("/images/valorant.png");
  background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.boxes > * {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1rem;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.boxes .back {
  height: 100%;
  background-image: url("/images/killjoy_edit.jpg");
  background-position: center;
  background-size: 100% 100%;
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
}

.score {
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-family: "Source Code Pro", monospace;
  top: 120px;
  right: 50px;
  color: #0f5563;
  font-size: 2.7rem;
  font-weight: bolder;
  width: 260px;
}

.score p:last-child {
  text-align: center;
}

.moves {
  position: absolute;
  bottom: 150px;
  left: 100px;
  font-size: 2rem;
  color: #420808;
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  width: 220px;
  width: 110px;
  text-align: center;
}

.moves p:last-child {
  text-align: center;
}

.time {
  color: #4b0a0a;
  position: absolute;
  bottom: 160px;
  right: 60px;
  font-size: 2rem;
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
}

.time p:last-child {
  text-align: center;
}

.gameover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.message {
  position: absolute;
  width: 400px;
  height: 220px;
  border-radius: 10px;
  background-color: #0f5563;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2.5rem;
  background-color: #564aa5;
  border: 2px solid #2d2d2d;
  color: white;
}

.message p:first-child {
  font-size: 3rem;
  margin-top: -10px;
}

.message p:nth-child(2) {
  margin-top: -30px;
}

.message button {
  display: inline-block;
  border: 0;
  width: 120px;
  border-radius: 6px;
  height: 35px;
  font-size: 1.5rem;
  background-color: #f3643f;
  color: white;
  margin-top: -10px;
  font-weight: 500;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.message button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  font-size: 1.51rem;
}

.gameover .background {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(7px) grayscale(0.1);
          backdrop-filter: blur(7px) grayscale(0.1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.visible {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.message {
  -webkit-transform: translateY(-900px) scale(0);
          transform: translateY(-900px) scale(0);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 680px;
    height: 552px;
    margin-bottom: -60px;
  }
  .score {
    top: 120px;
    right: 10px;
    width: 200px;
    font-size: 2rem;
  }
  .time {
    color: #4b0a0a;
    bottom: 100px;
    right: 10px;
    font-size: 1.8rem;
  }
  .moves {
    position: absolute;
    bottom: 100px;
    left: 10px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
    height: 430px;
    margin: 0;
  }
  .boxes {
    background-image: url("/images/valorant.png");
    background-position: bottom -20px center;
    background-size: 160% 100%;
    background-attachment: fixed;
  }
  .section > h1 {
    font-size: 2.5rem;
    margin: 0 auto;
    margin-top: -25px;
    color: #0e3970;
  }
  .score {
    top: 90px;
    right: 5px;
    width: 130px;
    font-size: 1.2rem;
  }
  .time {
    color: #4b0a0a;
    bottom: 25px;
    right: 5px;
    font-size: 1.1rem;
  }
  .moves {
    position: absolute;
    bottom: 25px;
    left: 5px;
    font-size: 1.1rem;
  }
  .message {
    position: absolute;
    width: 90%;
    height: 180px;
  }
  .message p:first-child {
    font-size: 2.2rem;
    margin-top: -10px;
  }
  .message p:nth-child(2) {
    margin-top: -30px;
    font-size: 2rem;
  }
  button {
    width: 120px;
    font-size: 1.3rem;
    margin-top: -10px;
    font-weight: 500;
  }
  button:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    font-size: 1.31rem;
  }
}

.message > p > span {
  font-family: "Source Code Pro", monospace;
}
